/*Универсальные классы*/
/************************************/

/*Отступы*/
.indent-left1{margin-left: 1%;}
.indent-left2{margin-left: 2%;}
.indent-left3{margin-left: 3%;}
.indent-left4{margin-left: 4%;}
.indent-left5{margin-left: 5%;}
.indent-left6{margin-left: 6%;}
.indent-left10{margin-left: 10%;}

.indent-right1{margin-right: 1%;}
.indent-right2{margin-right: 2%;}
.indent-right3{margin-right: 3%;}
.indent-right4{margin-right: 4%;}
.indent-right5{margin-right: 5%;}
.indent-right6{margin-right: 6%;}
.indent-right10{margin-right: 10%;}

.indent-bottom10{margin-bottom: 10px;}
.indent-bottom20{margin-bottom: 20px;}
.indent-bottom30{margin-bottom: 30px;}
.indent-bottom40{margin-bottom: 40px;}
.indent-bottom50{margin-bottom: 50px;}
